<div class="header-container">
  <div class="site-title">
    <h1>Towards Togetherness</h1>
    <h2>Probing as a Decolonizing Approach for Artistic Inquiry</h2>
  </div>
  <div class="nav-menu">
    <ul>
      <li class="current_page_item">
        <a href="https://towardstogetherness.azurewebsites.net/">Home</a>
      </li>
      <li class="page_item page-item-19">
        <a href="https://towardstogetherness.azurewebsites.net/food-related/"
          >Food Related</a
        >
      </li>
      <li class="page_item page-item-8">
        <a href="https://towardstogetherness.azurewebsites.net/niva-to-nenets/"
          >Niva to Nenets</a
        >
      </li>
      <li class="page_item page-item-1822">
        <a href="https://towardstogetherness.azurewebsites.net/probing/"
          >Probing</a
        >
      </li>
      <li class="page_item page-item-1824">
        <a href="https://towardstogetherness.azurewebsites.net/thesis/"
          >Thesis</a
        >
      </li>
      <li class="page_item page-item-1833">
        <a href="https://towardstogetherness.azurewebsites.net/papers/"
          >Publications</a
        >
      </li>
      <li class="page_item page-item-1828">
        <a href="https://towardstogetherness.azurewebsites.net/early-work/"
          >Early work</a
        >
      </li>
      <li class="page_item page-item-1835">
        <a href="https://towardstogetherness.azurewebsites.net/bio/">BIO</a>
      </li>
    </ul>
  </div>
</div>
