.aside-group {
  padding: 5px 0px;
}

h3 {
  margin: 13px 0px;
  font-size: 13px;
  line-height: 1.846153846;
  font-weight: bold;
  text-transform: uppercase;
  color: #640303;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 13px;
  line-height: 1.846153846;
}

ul a {
  color: #9f9f9f;
  font-size: 13px;
  line-height: 1.846153846;
}