html {
  overflow-y: scroll;
}

.site-title h1 {
  font-size: 36px;
  line-height: 0.666666667;
  margin-bottom: 20px;
  margin-top: 24px;
  font-weight: bold;
  color: #5e0600;
}

.site-title h2 {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: normal;
  color: #5e0600;
}

.footer {
  border-top: 1px solid #ededed;
  clear: both;
  font-size: 12px;
  line-height: 2;
  max-width: 960px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;
}

.footer p {
  color: black;
}

body {
  background: #dddcce;
  color: #272822;
  font-size: 15px;
  background-image: url(assets/images/banner.jpg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
}

.container-markdown h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 22px;
  margin-bottom: 24px;
  line-height: 1.2;
  font-weight: normal;
}

.container-markdown p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.714285714;
}

.container-markdown img {
  margin: 0px 0px;
  max-width: 100%;
  height: auto;
}

.container-markdown a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333333;
}
